{% load widget_tweaks %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>	بازیابی رمز عبور</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'accounts/login/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'regeitration/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/css/rtl.css' %}">

<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
					<span> {{error}} </span>
					{% endfor %}
				</div>
				{% endif %}
		<div class="container-login100" style="background-image: url('{% static 'accounts/login/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<span class="login100-form-title p-b-49 myfont">
					{% translate 'Password reset' %}
					</span>



					<div class="m-b-23 " >
						<span class="myfont">{% translate "Your password has been set.  You may go ahead and log in now." %}</span>
						</div>


						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn myfont" >
										<p><a href="{% url 'login' %}">ورود</a></p>
								</button>
							</div>
						</div>






	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'accounts/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'accounts/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/js/main.js' %}"></script>

</body>
</html>
